@import "../settings/index";


.main__container__benefits{
  width: 100%;
  height: 1395px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefitbox{
  width: 1124px;
  height: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.3125rem;
}

.benefitbox h3{
  font-family: var(--font-relaway);
  font-size: 2.25rem;
  line-height: 42px;
  font-weight: 400;
  margin-bottom: 30px;
}

.benefitbox p{
  font-size: 1rem;
  line-height: 22px;
  font-weight: 400;
}

.border{
  margin-top: 50px;
  width: 327px;
}

.main__container__benefits__benefit1__content__border{
  border-bottom: 3px solid var(--color-redish);

}

.main__container__benefits__benefit2__content__border{
  border-bottom: 3px solid var(--color-primary);

}

.main__container__benefits__benefit3__content__border{
  border-bottom: 3px solid var(--color-green);

}


.main__container__benefits__benefit1__content{
  width: 416px;
  height: 188px;
  margin: 91px 35px;
  box-sizing: border-box;
}

.main__container__benefits__benefit1__img{
  width: 433px;
  height: 294px;
  margin: 38px 71px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}

.main__container__benefits__benefit1__img img{
  width: 387px;
  height: 219px;
}

.pane{
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 200px;
  right: 40px;
  top: 40px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  border-radius: 41px;
  background-color: var(--color-redish);

}

.main__container__benefits__benefit2__content{
  width: 416px;
  height: 230px;
  margin: 70px 20px;
  box-sizing: border-box;

}

.main__container__benefits__benefit2__img{
  width: 426px;
  height: 328px;
  position: relative;
}

.main__container__benefits__benefit2__img img{
  width: 426px;
  height: 328px;
}

.circle{
  position: absolute;
  z-index: -1;
  width: 320px;
  height: 320px;
  bottom: 20px;
  border-radius: 50%;
  background-color: var(--color-primary);
}


.main__container__benefits__benefit3__content{
  width: 623px;
  height: 370px;
  padding: 70px 35px;
  box-sizing: border-box;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}

.main__container__benefits__benefit3__img{
  width: 440px;
  height: 370px;
  background-color: var(--color-green);
  display: flex;
  padding: 98px 82px 64px 62px;
  box-sizing: border-box;
  border-radius: 5px;


}

.main__container__benefits__benefit3__img img{
  width: 296px;
  height: 208px;
}

.pricing{
  width: 100%;
  height: 616px;
  display: flex;

}
