@import "../settings/index";


.main__container__platform{
  padding-bottom: 50px;
  width: 100%;
  height: 531px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile{
    height: 100vh;
  }

  .dot{
    position: relative;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }

  h2{
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 42px;
    font-family: $font-raleway;
    margin: 100px 0;
    @include mobile{
      margin: 2.5rem 0;

    }

  }

  &__cards{
    display: flex;
    width: 100%;
    justify-content: space-around;

    @include mobile{
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    &__card{
      width: 176px;
      height: 167px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;

      & :nth-child(2){
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 24px;
        font-family: $font-raleway;
        color: $color-black;
        margin-top: 13px;


      }

      & :nth-child(3){
        font-size: 1rem;
        font-weight: 400;
        line-height: 19px;
        font-family: $font-raleway;
        color: $color-grey;
        margin-top: 19px;
      }
    }

  }
}



.dot1{
  background-color: $color-redish;
}

.dot2{
  background-color: $color-primary;
}

.dot3{
  background-color: $color-green;
}

.dot img{
  position: relative;
  left: 33px;
}

.dot2 img{
  position: relative;
  left: 21px;
}

