@import "../settings/index";

.pricing {
  width: 100%;
  height: 616px;
  display: flex;
  margin: 50px auto 0 auto;


  @include mobile{
    height: 970px;
    margin: 0 auto;
  }

  .pricing__container{
    max-width: 1344px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
      font-weight: 400;
      font-size: 2.25rem;
      font-family: $font-raleway;
      line-height: 42px;
      margin-bottom: 50px;
      @include mobile{
        margin: 40px 0 0 0;

      }
    }

    .pricing__container__options{
      display: flex;
      width: 100%;
      height: 500px;
      justify-content: space-between;
      align-items: center;

      @include mobile{
        display: block;
        height: 970px;
      }


      .optionbox {
        width: 372px;
        height: 461px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 30px;
        @include mobile{
          margin: 50px auto;
          height: 253px;
          width: 80%;
          justify-content: flex-end;
          padding-top: 35px;
        }

        .box_content{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          @include mobile{
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding-top: 40px;

          }
        }

        .price{
          text-align: center;
          @include mobile{
            margin: 18px;

          }

        }




        li.included,
        li.not__included{
          font-size: 0.875rem;
          font-weight: 400;
          margin: 10px;
        }

        .included::before {
          content: "";
          width: 11px;
          height: 11px;
          display: inline-block;
          margin-right: 10px;
          background-image: url("../../assets/Checkmark-1.svg");
        }

        .not__included::before {
          content: "";
          width: 11px;
          height: 11px;
          display: inline-block;
          margin-right: 10px;
          background-image: url("../../assets/Close.svg");
        }

        h4{
          margin: 34px 0 30px;
          font-weight: 600;
          font-size: 1.25rem;
          font-family: $font-raleway;
          @include mobile{
            margin: 5px;
          }
        }

        p:nth-of-type(1) ,
        .basis_margin_0{
          text-align: center;
          font-weight: 100;
          font-size: 2.875rem;
          @include mobile{
            margin: 5px;
          }
        }

        ul{
          display: flex;
          flex-direction: column;
          align-items: center;

          @include mobile{
            line-height: 21px;
          }
        }
      }

      .pricing_options__basic{
        border: 1px solid $color-redish;
        border-radius: 18px;

        .pricing_options__basic__included{
          display: flex;
          flex-direction: column;

        }

        .basis_margin_0{
          margin-bottom: 61px;
          color: $color-redish;
        }

        .optionbox__button__basic{
          background-color: $color-redish;
          bottom: -75px;
          @include mobile{
            bottom: -25px;
          }

        }

      }

      .pricing_options__professional{
        border: 1px solid $color-primary;
        border-radius: 18px;
        width: 405px;
        height: 500px;

        @include mobile{
          height:  277px;
          width: 90%;
        }

        p:nth-of-type(1){
          color: $color-primary;
        }

        .limited__offer__professional{
          font-family: $font-raleway;
          font-weight: 600;
          font-size: 0.75rem;
          margin: 20px 0 61px;

        }

        .optionbox__button__profesional{
          padding: 16px 65px;
          background-color: $color-primary;
          bottom: -83px;
          @include mobile{
            bottom: -25px;
          }

        }

      }

      .pricing_options__premium{
        border: 1px solid $color-green;
        border-radius: 18px;


        .limited__offer__premium{
          font-family: $font-raleway;
          font-weight: 600;
          font-size: 0.75rem;
          margin: 20px 0 40px;
        }

        p:nth-of-type(1){
          color: $color-green;
        }

        .optionbox__button__premium{
          background-color: $color-green;
          bottom: -65px;
          @include mobile{
            bottom: -25px;
          }
        }
      }

    }

  }
}
.btn{
  font-weight: 600;
  color: white;
  border-radius: 23px;
  font-size: 0.8125rem;
  position: relative;
  padding: 16px 57px;

}







